In [1]:
import pandas as pd

In [2]:
l = [10,20,30,40,50]

In [3]:
df = pd.DataFrame(l)
print(df)

    0
0  10
1  20
2  30
3  40
4  50

### Dictionary

In [4]:
d = {
    'country' : ('India',"USA","Bangladesh"),
    'Capital' : ("Delhi","Washington DC", "Daka")
}

In [5]:
df = pd.DataFrame(d)

In [6]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [7]:
print(df)

      country        Capital
0       India          Delhi
1         USA  Washington DC
2  Bangladesh           Daka

In [12]:
print(pd.DataFrame(d,columns = ['country']))

      country
0       India
1         USA
2  Bangladesh

In [13]:
print(df['country'])

0         India
1           USA
2    Bangladesh
Name: country, dtype: object